# Backend mail settings
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-email-password
CONTACT_EMAIL=doctorsfarms686@gmail.com
ADMIN_LIST=doctorsfarms686@gmail.com,admin2@example.com

# PhonePe settings
MERCHANT_ID=YOUR_MERCHANT_ID
SALT_KEY=YOUR_SALT_KEY
SALT_INDEX=1